##########################
# Emacs
##########################

emacs/ido.last
emacs/projectile.cache
emacs/projectile-bookmarks.eld
emacs/recentf
emacs/.mc-lists.el
emacs/**/*.elc
emacs/elpa

##########################
# Vim
##########################

vim/swaps/*.swo
vim/plugged/*
!vim/plugged/.gitkeep
vim/filelists/*
!vim/filelists/.gitkeep

##########################
# NeoVim
##########################

nvim/swaps/*.swo
nvim/plugged/*
!nvim/plugged/.gitkeep
nvim/filelists/*
!nvim/filelists/.gitkeep

##########################
# Atom
##########################
atom/blob-store
atom/storage
atom/compile-cache
atom/dev
atom/.npm
atom/.node-gyp
atom/.apm/*
atom/packages/*
atom/blob-store
!atom/packages/README.md

##########################
# Mutt
##########################

# Should never check in plain text password file
mutt/accounts/passwords
# Should not track the temporarily decrypted file
mutt/accounts/passwords.gpg.tmp
# Also do not check in encrypted password file neither since
# each machine should have its own device specific password anyway
mutt/accounts/passwords.gpg

mutt/cache/*
!mutt/cache/.gitkeep
mutt/certificates/*
!mutt/certificates/.gitkeep
emacs/url/cache

##########################
# Chatty
##########################

chatty/*.log.*
chatty/cache
chatty/logs
chatty/exported
chatty/login
chatty/backup
