emacs/ido.last
emacs/projectile.cache
emacs/projectile-bookmarks.eld
emacs/recentf
emacs/.mc-lists.el
emacs/**/*.elc

# Ignore all installed packages by el-get
emacs/elpa
emacs/el-get
# ... but don't ignore the status file
!emacs/el-get/.status.el

# Ignore all managed plugins by Vundle
vim/vundle
# ... but don't ignore the directory and Vundle
!vim/vundle/.gitkeep
!vim/vundle/Vundle.vim

vim/swaps/*.swo
