"*":
  "exception-reporting":
    userId: "0915b6e6-7d53-bdfb-6654-245ce3afb932"
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    preferredLineLength: 100
    fontFamily: "Monaco"
    fontSize: 14
  "one-dark-ui": {}
  tabs:
    usePreviewTabs: true
  "file-icons":
    coloured: false
  "highlight-line":
    hideHighlightOnSelect: true
  "highlight-selected": {}
  "status-bar": {}
  minimap:
    plugins:
      "git-diff": true
      "highlight-selected": true
      selection: true
      bookmarks: true
      pigments: true
      "find-and-replace": true
  "expand-region": {}
".ini.source":
  editor:
    preferredLineLength: 100
