"*":
  "atom-beautify":
    _analyticsUserId: "ab99a765-2c04-4af5-9aab-ba865d93636e"
  "autocomplete-plus":
    confirmCompletion: "tab"
  core:
    audioBeep: false
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Monaco"
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "0915b6e6-7d53-bdfb-6654-245ce3afb932"
  "expand-region": {}
  "file-icons":
    coloured: false
  "highlight-line":
    hideHighlightOnSelect: true
  "highlight-selected": {}
  "merge-conflicts":
    gitPath: "/usr/bin/git"
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments: {}
  "status-bar": {}
  tabs:
    usePreviewTabs: true
  "tree-view": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    preferredLineLength: 100
    scrollPastEnd: true
