packages: [
  "atom-beautify"
  "color-picker"
  "editorconfig"
  "expand-region"
  "file-icons"
  "highlight-line"
  "highlight-selected"
  "language-lisp"
  "language-viml"
  "minimap"
  "minimap-bookmarks"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-pigments"
  "minimap-selection"
  "package-sync"
  "pigments"
  "Stylus"
]
